# Python
__pycache__/
*.pyc
*.pyo
.Python/
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env

# Data
*.csv
*.json
*.txt
*.jpg
temp_files/ # For temporary uploads in your app

# Terraform
*.tfplan
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
.terraformignore